*{
	margin: 0px;
	padding: 0px;
	font-family: Georgia, Helvetica;
	font-size: 14px;
	background-color: #eff5f9;
}

.headerMenu{
	background-image: url("../img/bluebg.png");
	height: 56px;
	border-bottom: 0px;
	padding-left: auto;
	padding-right: auto;
	width: 100%;
}

#wrapper{
	background-image: url("../img/bluebg.png");
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.logo{
	background-image: url("../img/bluebg.png");
	width: 125px;

}

.logo img{
	background-image: url("../img/bluebg.png");
	width: 150px;
	height: 38px;
}

.search_box{
	background-image: url("../img/bluebg.png");
	position: absolute;
	top: 13px;
	margin-left: 145px;
}

